.accordion {
  &__container {
    margin: 1.5rem 0;
  }

  &__item {
    border: 1px solid #ddd;
    border-radius: 8px;
    margin-bottom: 1rem;
    overflow: hidden;
    background-color: #fff;
    transition: box-shadow 0.3s ease;

    &[open] {
      box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);

      // open時のアコーディオン内容と summary アイコンの調整
      .accordion__content {
        padding: 1rem;
        max-height: 500px;
      }
      .accordion__summary::after {
        transform: translateY(-50%) rotate(180deg);
      }
    }
  }

  &__summary {
    list-style: none;
    padding: 1rem;
    cursor: pointer;
    position: relative;
    font-size: 1.1rem;
    font-weight: bold;
    background-color: #f9f9f9;
    transition: background-color 0.3s ease;

    &:hover {
      background-color: #ececec;
    }

    &::after {
      content: '▼';
      position: absolute;
      right: 1rem;
      top: 50%;
      transform: translateY(-50%);
      transition: transform 0.3s ease;
    }
  }

  &__content {
    padding: 0 1rem;
    background-color: #fff;
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.5s ease;
  }
}
